<!DOCTYPE html>
<html>
<head>
    <title>Smart Predictive Maintenance</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <h1>⚙ Predictive Maintenance Dashboard</h1>
    <h3 id="statusText">🟢 System Healthy</h3>

    <div class="panel">
    <h2>Enter Sensor Data</h2>

    <form method="POST">

        <div class="slider-box">
            <label>🌡 Temperature: <span id="temp_val">50</span></label>
            <input type="range" name="temperature" min="20" max="100" step="1" value="50"
                   oninput="temp_val.innerText = this.value">
        </div>

        <div class="slider-box">
            <label>📳 Vibration: <span id="vib_val">0.5</span></label>
            <input type="range" name="vibration" min="0" max="1" step="0.1" value="0.5"
                   oninput="vib_val.innerText = this.value">
        </div>

        <div class="slider-box">
            <label>⚙ Pressure: <span id="pres_val">1.5</span></label>
            <input type="range" name="pressure" min="1" max="3" step="0.1" value="1.5"
                   oninput="pres_val.innerText = this.value">
        </div>

        <div class="slider-box">
            <label>⏱ Usage: <span id="use_val">300</span></label>
            <input type="range" name="usage" min="0" max="600" step="10" value="300"
                   oninput="use_val.innerText = this.value">
        </div>

        <button type="submit">🚀 Predict</button>
    </form>
</div>
   

    {% if result %}
    <div class="panel">
        <h2 class="{{ 'risk' if 'Risk' in result else 'safe' }}">{{ result }}</h2>

        <p><b>Reason:</b> {{ reason }}</p>

        {% if alert %}
            <div class="alert">{{ alert }}</div>
        {% endif %}
    </div>
    {% endif %}

    {% if graph %}
    <div class="panel">
        <h3>📊 Sensor Graph</h3>
        <img src="{{ graph }}">
    </div>
    {% endif %}

</div>

<script>
    let result = "{{ result }}";
    if (result.includes("Risk")) {
        document.getElementById("statusText").innerText = "🔴 High Risk Detected";
    }
</script>

</body>
</html>